// Variables
//=======================================
$button-height: 0.5rem;
$button-width: 5rem;
$text: 20px;
$header-height: 8vh;
$color-primary: #5d71a7;
$color-urgent: red;

// General Layout
//=======================================

// Button
//=======================================
.button {
  &-primary {
    align-items: center;
    background-color: $color-primary;
    border-radius: 10px;
    cursor: pointer;
    display: flex;
    font-size: $text;
    height: 54px;
    justify-content: center;

    width: 90px;
  }
}

// Popup
//=======================================
.overlay {
  align-items: center;
  background: rgba(0, 0, 0, 0.1);
  bottom: 0;
  box-shadow: rgba(0, 0, 0, 0.3) 0 1px 4px;
  display: flex;
  justify-content: center;
  left: 0;
  opacity: 0;
  position: fixed;
  right: 0;
  top: 0;
  transition: opacity 500ms;
  visibility: hidden;
}

.popup {
  align-items: center;
  background: #fff;
  border-radius: 5px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: $header-height 0 $header-height 0;
  padding: 20px;
  position: relative;
  transition: all 5s ease-in-out;
  width: 30%;
}

.popup h2 {
  color: #333;
  margin-top: 0;
}

.popup .close {
  background-color: rgb(174, 174, 174);
  border-radius: 5px;
  color: black;
  font-size: 12px;
  font-weight: bold;
  padding: 0.5rem;
  right: 6px;
  text-decoration: none;

  top: 2px;
  transition: all 200ms;
  width: 15rem;
}

.popup .close:hover {
  color: #000;
  cursor: pointer;
}

.popup .content {
  max-height: 30%;
  overflow: auto;
}

@media screen and (max-width: 700px) {
  .popup {
    width: 70%;
  }
}
