.parent {
  position: relative;
}

.box {
  bottom: 0;
  display: flex;
  left: 0;
  position: absolute;
  z-index: 2;
}

.confetti {
  position: absolute;
  top: 0;
}

.a {
  left: 20px;
}

.b {
  left: 40px;
}

.c {
  left: 55px;
}

.d {
  left: 70px;
}

.e {
  left: 90px;
}

.f {
  left: 110px;
}

@keyframes moveUp {
  0% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(-65px);
  }
}

.animate-ball {
  animation: moveUp 1s forwards; /* 1s is the duration, adjust as needed */
}

.ball {
  bottom: 100%;
  left: 24%;
  position: absolute;
  transform: translateX(-50%);
  z-index: 1;
}
