@import './global';

.compare {
  display: table;
  margin: 15px 0;
  padding: 5px;
  width: 100%;

  .left-code {
    float: left;
    left: 10%;
    margin: auto;
    position: relative;
    max-width: 50%;
  }

  .right-code {
    float: right;
    margin: 10 0 10 50px;
    position: relative;
    right: 10%;
    max-width: 50%;
  }
}

.caption {
  color: $primary-1-color;
}
