// Variables
//=======================================
$layout-wsize: 10.56%;
$layout-htsize: 14.45%;
$layout-hbsize: 16.25%;
$header-1: 50px;
$description: 20px;
$header-height: 8vh;

// General Layout
//=======================================
#layout {
  display: flex;
  min-height: calc(100vh - 2 * #{$layout-wsize});
  padding: $layout-htsize $layout-wsize $layout-hbsize $layout-wsize;

  .header {
    font-size: $header-1;
  }

  .description {
    font-size: $description;
    width: 100%;
  }

  .address-wrapper {
    display: flex;
    justify-content: center;
  }

  #inbox-wrapper {
    margin: 2rem;
  }

  .pipi {
    height: 70px;
    object-fit: cover;
    width: 50px;
  }

  .ladder {
    height: 200px;
    object-fit: cover;
    width: 50px;
  }
}

p {
  margin: 0;
}

.wrap {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  margin-bottom: 2.5em;
  margin-top: 2.5em;
}

.demobox {
  margin-left: -40px;
  margin-right: -40px;
}
