.exercise3-wrap {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    margin-top: 2.5em;
  }
  
  .exercise3-pipi {
    position: absolute;
    z-index: 2;
  }
  
  .exercise3-box {
    margin-top: 150px;
  }
  
  .exercise-4-diagram {
    margin: 7vh 0;
    text-align: center;
  
    img {
      width: 65vw;
    }
  
    @media only screen and (max-width: 850px) {
      align-items: center;
      display: grid;
      justify-items: center;
  
      margin: 0;
    }
  }