.terminal {
  width: 95%;
}

.exercise-2-diagram {
  margin: 7vh 0;
  text-align: center;

  img {
    width: 65vw;
  }
}

.exercise2-div {
  align-items: center;
  display: flex;
  justify-content: center;
  margin-bottom: 60px;
}
