.exercise3-wrap {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  margin-top: 2.5em;
}

.exercise3-pipi {
  position: absolute;
  z-index: 3;
}

.exercise3-box {
  margin-top: 150px;
}
