.terminal {
  width: 95%;
}

.exercise-4-diagram {
  margin: 7vh 0;
  text-align: center;

  img {
    width: 65vw;
  }

  @media only screen and (max-width: 850px) {
    align-items: center;
    display: grid;
    justify-items: center;

    margin: 0;
  }
}

.exercise4-div {
  align-items: center;
  display: flex;
  justify-content: center;
  margin-bottom: 60px;
}

/* Additional responsive adjustments */
@media (max-width: 768px) {
  .exercise4-wrap,
  .exercise4-pipi,
  .exercise4-box {
    flex-direction: column;
  }

  .exercise4-div {
    flex-direction: column;
    margin-bottom: 30px; /* Adjusted for better spacing on smaller screens */
  }
}

/* Ensuring terminal and other components are responsive */
@media (max-width: 850px) {
  .terminal,
  .exercise-4-diagram img,
  .exercise4-div {
    margin: 0 auto; /* Center align for better aesthetics */
    width: 90%; /* Adjust width for smaller screens */
  }
}

/* Justifying paragraph text across all screens */
p {
  text-align: justify;
  text-align-last: left; /* Adjusts the alignment of the last line in a justified text block */
}
