@import './global';

.overall-container {
  display: flex;
  flex-direction: row-reverse;
  gap: 2rem;
  justify-content: center;
}

.fill-arrow-container {
  display: flex;
  gap: 10px;
  justify-content: center;
}

.fill-arrow {
  align-items: center;
  color: $text-color;
  display: flex;
  font-family: $play;
  font-size: 28px;
  font-weight: 700px;
  justify-content: center;
}

.fill-arrow-border {
  position: relative;
  z-index: 1;
}

.fill-arrow-background {
  background-color: $accent-1-color;
  position: absolute;
}

#arrow-text {
  position: absolute;
  z-index: 2;
}

#box-text {
  position: absolute;
  transform: translate(-80px);
  z-index: 2;
}

/* Mobile styles */
// Landscape
@media screen and (max-width: 769px) {
  .fill-arrow-container {
    transform: scale(0.7);
  }

  .fill-arrow {
    font-size: 32px;
  }
}
// Portrait
@media screen and (max-width: 478px) {
  .fill-arrow-container {
    height: 10vh;
    transform: scale(0.4);
  }

  .fill-arrow {
    font-size: 48px;
  }
}

.arrow-animation {
  animation: arrow-box 2.5s linear;
  background: linear-gradient(to right, white 50%, #fec900 50%);
  background-position: left;
  background-size: 200% 100%;
}

.box-animation {
  animation: arrow-box 2s linear forwards;
  animation-delay: 2.4s;
  background: linear-gradient(to right, white 50%, #fec900 50%);
  background-position: left;
  background-size: 200% 100%;
}

@keyframes arrow-box {
  0% {
    background: linear-gradient(
      to right,
      #fec900 0%,
      #fec900 50%,
      white 50%,
      white 100%
    );
    background-position: right;
    background-size: 200% 100%;
  }

  100% {
    background: linear-gradient(
      to right,
      #fec900 0%,
      #fec900 50%,
      white 50%,
      white 100%
    );
    background-position: left;
    background-size: 200% 100%;
  }
}
