@import url('https://fonts.googleapis.com/css2?family=Niramit&family=Play&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Courier+Prime&display=swap');

// Font Variables
$play: 'Play', sans-serif;
$niramit: 'Niramit', sans-serif;
$courier: 'Courier Prime', monospace;

// Color Variables
$text-color: #121538;
$primary-1-color: #5d71a7;
$primary-2-color: #8596be;
$primary-3-color: rgba(133, 150, 190, 0.23);
$accent-1-color: #fec900;
$accent-2-color: #72d670;
$accent-3-color: #fe5353;

title {
  color: #121538;
  font-family: $play;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: 56px;
}

h1 {
  color: #141a4f;
  font-family: $play;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 42px;
}

h2 {
  color: #141a4f;
  font-family: $play;
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: 35px;
}

label {
  color: #8596be;
  display: block; // no inline styling
  font-family: $play;
  font-size: 28px;
  font-style: normal;
  font-weight: 700;
  line-height: 32px;
}

body {
  color: #0e112e;
  font-family: $niramit;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 29px;
}
