@import url('https://fonts.googleapis.com/css2?family=Niramit&family=Play&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Courier+Prime&display=swap');

// Font Variables
$play: 'Play', sans-serif;
$niramit: 'Niramit', sans-serif;
$courier: 'Courier Prime', monospace;

// Color Variables
$text-color: #121538;
$heading-color: #141a4f;
$primary-1-color: #5d71a7;
$primary-2-color: #8596be;
$primary-3-color: rgba(133, 150, 190, 0.23);
$accent-1-color: #fec900;
$accent-2-color: #31a74b;
$accent-3-color: #a80000;

html,
body {
  margin: 0;
}

title {
  color: $text-color;
  font-family: $play;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: 56px;
}

h1 {
  color: $heading-color;
  font-family: $play;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 42px;
}

h2 {
  color: $heading-color;
  font-family: $play;
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: 35px;
}

h3 {
  color: $text-color;
  font-family: $niramit;
  font-size: 25px;
  font-style: normal;
  font-weight: 700;
  line-height: 35px;
}

label {
  color: $primary-2-color;
  display: block; // no inline styling
  font-family: $play;
  font-size: 28px;
  font-style: normal;
  font-weight: 700;
  line-height: 32px;
}

body {
  color: #121538;
  font-family: $niramit;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 29px;
  margin: 0;
}

strong {
  font-weight: 900;
}

img {
  height: auto;
  max-width: 100%;
}

svg {
  max-width: 100%;
}
