@import './global';

.hintbox-container {
  display: flex;
  justify-content: end;
}

.hintbox {
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  display: flex;
  flex-direction: row-reverse;
  padding: 17px;
  z-index: 2;
}

.hintbox-title-text {
  color: $primary-1-color;
  font-family: $play;
  font-size: 26px;
  font-style: normal;
  font-weight: 700;
}

.hintbox-title {
  align-items: center;
  display: flex;
  gap: 21px;
  order: 2;
}

.hintbox-text {
  align-items: center;
  display: flex;
  flex-grow: 1;
  font-size: large;
  gap: 40px;
  max-width: 0;
  order: 1;
  overflow: auto;
  transition: all 0.5s;
  white-space: nowrap;
}

.hintbox-text.show {
  align-items: center;
  display: flex;
  gap: 40px;
  max-width: 67vw;
  transition: all 0.5s;
  width: auto;
}
