@import './global';
// Variables
//=======================================
$layout-wsize: 10.56%;
$layout-htsize: 14.45%;
$layout-hbsize: 16.25%;
$header-1: 50px;
$description: 20px;
$header-height: 8vh;

// Background
//=======================================
#container {
  animation: scroll 500s linear infinite;
  background-position: 0 0;
  background-repeat: repeat;
  background-size: 100vh 100vw;
  display: flex;
  height: 100%;
  left: 0;
  overflow: hidden;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 1;
}

// General Layout
//=======================================
#layout {
  display: flex;
  min-height: calc(100vh - 2 * #{$layout-wsize});
  padding: $layout-htsize $layout-wsize $layout-hbsize $layout-wsize;
  z-index: 2;
}

p {
  margin: 0;
}

// Columns
//=======================================
#col-1 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-right: 10.56%;
  margin-top: 6.94%;

  #title {
    font-size: $header-1;
  }

  #description {
    font-size: $description;
    text-align: left;
  }

  #start-button {
    align-items: center;
    background: $accent-1-color;
    border: 0;
    border-radius: 10px;
    cursor: pointer;
    display: flex;
    height: 47px;
    justify-content: center;
    position: relative;
    top: 25px;
    width: 215px;
  }

  #start-button:hover {
    background: $primary-2-color;
  }

  #button-text {
    font-family: $niramit;
    font-size: 22px;
    position: relative;
    top: -3px;
  }
}

#col-2 {
  .pp-wrapper {
    margin-right: 3.024%;
  }

  @media only screen and (max-width: 750px) {
    display: none;
  }
}

@keyframes scroll {
  from {
    background-position: 0 0;
  }
  /*use negative width if you want it to flow right to left else and positive for left to right*/
  to {
    background-position: -10000px 0;
  }
}

@keyframes scroll {
  from {
    background-position: 0 0;
  }
  /*use negative width if you want it to flow right to left else and positive for left to right*/
  to {
    background-position: -10000px 0;
  }
}
