@import './global';

// Variables
//=======================================
$layout-wsize: 10.56%;
$layout-spacing: 5%;

.header {
  margin: $layout-spacing $layout-wsize 0%;
}

.content {
  color: $text-color;
  font-family: $niramit;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  justify-content: center;
  line-height: 29px;
  margin: 2% $layout-wsize $layout-spacing;
  // adjust for small screens
  @media screen and (max-width: 1500px) {
    margin: 2% 100px $layout-spacing 150px;
  }
}

.pipi {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
