@import './global';

// Pipi
//=======================================

.lesson1-pipi {
  display: block;
  margin-left: auto;
  margin-right: auto;

  /* md */
  @media (max-width: 970px) {
    width: 90%;
  }
}
