@import './global';
// Variables
//=======================================
$layout-wsize: 10.56%;
$layout-htsize: 14.45%;
$layout-hbsize: 16.25%;
$header-1: 50px;
$description: 20px;
$header-height: 8vh;

.previous {
  display: flex;
  bottom: 8vh;
  left: 40px;
  position: absolute;
  border: none;
  background: none;
  &-text {
    display: inline;
    color: #121538;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    position: relative;
    top: 2px;
  }
  &:hover{
    cursor: pointer;
  }
}

.next {
  display: flex;
  bottom: 8vh;
  position: absolute;
  right: 40px;
  border: none;
  background: none;
  &-text {
    display: inline;
    color: #121538;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    position: relative;
    top: 2px;
  }
  &:hover{
    cursor: pointer;
  }
}
