@import './global';
// Variables
//=======================================
$layout-wsize: 10.56%;
$layout-htsize: 14.45%;
$layout-hbsize: 16.25%;
$header-1: 50px;
$description: 20px;
$header-height: 8vh;

.previous {
  background: none;
  border: 0;
  bottom: 6vh;
  color: $primary-1-color;
  display: flex;
  left: 0.5%;
  position: fixed;

  &-text {
    color: $text-color;
    font-family: $play;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    left: 10px;
    position: relative;
    top: 2px;
    @media screen and (max-width: 768px) {
      display: none;
    }
  }

  &:hover {
    cursor: pointer;
  }
}

.next {
  background: none;
  border: 0;
  bottom: 6vh;
  color: $primary-1-color;
  display: flex;
  position: fixed;
  right: 0.5%;

  &-text {
    color: $text-color;
    font-family: $play;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    position: relative;
    right: 10px;
    top: 2px;
    // Hide buttons on mobile screens
    @media screen and (max-width: 768px) {
      display: none;
    }
  }

  &:hover {
    cursor: pointer;
  }
}
