@import './global';

// Variables
//=======================================
$layout-wspacing: 10.56%;
$layout-hspacing: 13vh;

// Page Wrapper
//    * used for any text pages
//=======================================
.page-wrapper {
  margin-bottom: $layout-hspacing * 2;
  margin-left: $layout-wspacing;
  margin-right: $layout-wspacing;
  margin-top: $layout-hspacing;
  // margin: 2% $layout-wsize $layout-spacing;
  // // adjust for small screens
  // @media screen and (max-width: 1500px) {
  //   margin: 2% 100px $layout-hspacing 150px;
  // }

  // p
  //=======================================
  // creates spacing between two p tags
  p + p {
    padding-top: 3vh;
  }

  p + .diagram {
    padding: 6vh 0;
  }

  // h1
  //=======================================

  h1 + .diagram {
    padding: 4vh 0;
  }

  .diagram + h1 {
    padding: 0;
  }

  // h2
  //=======================================

  h2 {
    padding-top: 5vh;
  }

  h2 + .diagram {
    padding: 4vh 0;
  }

  .diagram + h2 {
    padding: 0;
  }

  // code
  //=======================================

  .code {
    background: $primary-3-color;
    border-radius: 5px;
    display: inline-flex;
    font-family: $courier;
    font-size: 20px;
    padding: 0 5px;
  }
}
