// Variables
//=======================================
$layout-wspacing: 10.56%;
$layout-hspacing: 13vh;

// Page Wrapper
//    * used for any text pages
//=======================================
.page-wrapper {
  margin: $layout-hspacing $layout-wspacing;
  // margin: 2% $layout-wsize $layout-spacing;
  // // adjust for small screens
  // @media screen and (max-width: 1500px) {
  //   margin: 2% 100px $layout-hspacing 150px;
  // }

  // creates spacing between two p tags
  p+p {
    padding-top: 5vh;
  }

  .diagram {
    padding: 8vh 0;
  }

  h2 {
    padding-top: 5vh;
  }

  label {
    padding-top: 5vh;
  }
}