@import './global';

.question {
  border-radius: 10px;
  box-shadow: 0 4px 25px rgba(0, 0, 0, 0.1);
  padding: 30px;

  @media only screen and (max-width: 850px) {
    align-items: center;
    justify-items: center;
  }
}

.question-container-wrapper {
  align-items: center;
  display: flex;
  justify-content: space-between;

  @media only screen and (max-width: 850px) {
    align-items: center;
    display: grid;
    justify-items: center;
  }
}

.question-wrapper {
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding-right: 21px;

  @media only screen and (max-width: 850px) {
    align-items: center;
    display: grid;
    justify-items: center;
    padding-right: 0;
  }
}

.button-wrapper {
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding-right: 21px;

  @media only screen and (max-width: 850px) {
    align-items: center;
    display: grid;
    justify-items: center;
    padding-top: 15px;
  }
}

.question-text-wrapper {
  @media only screen and (max-width: 850px) {
    align-items: center;
    display: flex;
    justify-items: center;
    padding-top: 10px;
    text-align: center;
  }
}

.icon {
  padding-right: 21px;
}

.dropdown-between-text-wrapper {
  padding-right: 118px;
}

.dropdown-wrapper {
  display: inline-block;
  position: absolute;
}

.check-button {
  align-items: center;
  background: $primary-1-color;
  border: 0;
  border-radius: 10px;
  cursor: pointer;
  display: flex;
  height: 35px;
  justify-content: center;
  position: relative;
  width: 100px;
}

.check-button-text {
  color: white;
  font-family: $niramit;
  font-size: 18px;
  position: relative;
  top: -2px;
}

.check-button:hover {
  background: $accent-1-color;

  .check-button-text {
    color: $text-color;
  }
}

.correct-text {
  color: $accent-2-color;
}

.incorrect-text {
  color: $accent-3-color;
}

.feedback-text {
  align-items: center;
  display: inline-flex;
  gap: 16px;
  justify-content: center;
  padding-left: 58px;
  padding-top: 20px;
  @media only screen and (max-width: 850px) {
    padding-left: 0;
  }
}
