.address {
  background: none;
  background-color: none;
  border: 0;
  border-radius: 0;
  height: 41px;
  padding: 0;
  transition-duration: 0.4s;
  width: 41px;
}

.address.hover {
  background-color: gray;
  cursor: pointer;
}
