#Sidebar {
  background-color: green;
  height: 100%; /* 100% Full-height */
  left: 0; // position from left
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 60px; /* Place content 60px from the top */
  position: fixed; /* Stay in place */
  top: 0; //position from top
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidebar */
  width: 0; /* 0 width - change this with JavaScript */
  z-index: 1; /* Stay on top */

  a, .dropdown-btn {
    color: #000;
    display: block;
    font-size: 27px;
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    transition: 0.3s;
    width: 100%;
    outline: none;
    background: none;
    border: none;
    cursor: pointer;
    text-align: left;
  }

  a:hover, .dropdown-btn:hover {
    color: #f1f1f1;
  }
  .dropdown-container {
    display: none;
    background-color: #3b9244;
    padding-left: 8px;
    transition: 0.5s;
  }
  
  .fa-caret-down {
    float: right;
    padding-right: 8px;
  }

  #closebtn {
    font-size: 36px;
    margin-left: 50px;
    position: relative;
    right: 5px;
    top: 0;
  }
}

.openbtn {
  background-color: green;
  color: white;
  cursor: pointer;
  font-size: 20px;
  left: 0;
  padding: 10px 15px;
  position: fixed;
  transition: 0.5s;
}

.openbtn:hover {
  background-color: #444;
}
