@import './global';
@import './AppWrapper';

$padding-h: 35px;
$padding-v: 55px;
$sidebar-width: 357px;

.sidebar {
  background-color: white;
  height: 100%; // 100% Full-height
  left: 0; // position from left
  overflow-x: hidden; // Disable horizontal scroll
  position: fixed; // Stay in place
  top: 0; //position from top
  transition: 0.5s; // 0.5 second transition effect to slide in the sidebar
  width: 0; // 0 width - change this with JavaScript
  z-index: 1; // Stay on top
}

.sidebar-header {
  padding: $padding-v $padding-v $padding-h $padding-h;
  position: relative;
  transition: 0.3s;
}

.dropdown-header {
  color: $text-color;
  cursor: pointer;
  display: block;
  font-family: $play;
  font-size: 24px;
  padding-left: $padding-h;
  padding-right: $padding-h;
  text-align: left;
  transition: 0.3s;
}

// .dropdown-header span:hover {
//   // background-color: rgba(254, 201, 0, 0.3);
//   cursor: pointer;
// }

.dropdown-children {
  // color: inherit;
  font-family: $play;
  font-size: 20px;
  padding-left: 33px;
  // text-decoration: inherit;
  transition: 0.5s;
}

.close-btn {
  background-color: transparent;
  border: 0;
  // font-size: 36px;
  color: $text-color;
  cursor: pointer;
  padding: 0;
  padding-top: 7px;
  position: relative;
}

.close-btn:hover {
  color: $primary-1-color;
}

.openbtn {
  background-color: $primary-1-color;
  border: 0;
  color: white;
  cursor: pointer;
  font-size: 20px;
  height: $header-height;
  left: 0;
  padding: 10px 15px;
  position: fixed;
  transition: 0.5s;
}
