@import './global';
@import './AppWrapper';

$padding-h: 35px;
$padding-v: 55px;
$sidebar-width: 357px;

.sidebar {
  background-color: white;
  height: 100%; // 100% Full-height
  left: 0; // position from left
  overflow-x: hidden; // Disable horizontal scroll
  position: fixed; // Stay in place
  top: 0; //position from top
  transition: 0.5s; // 0.5 second transition effect to slide in the sidebar
  width: 357px; // 0 width - change this with JavaScript
  z-index: 1; // Stay on top
}

.sidebar-header {
  display: flex;
  justify-content: space-between;
  padding-bottom: 35px;
  padding-left: $padding-h;
  padding-right: $padding-h;
  padding-top: $padding-v;
  position: relative;
  transition: 0.3s;

  a {
    color: $text-color;
    cursor: pointer;
    text-decoration: none;
  }
}

.dropdown-header {
  align-items: center;
  color: $text-color;
  cursor: pointer;
  display: flex;
  font-family: $play;
  font-size: 24px;
  height: 47px;
  margin-bottom: 8px;
  padding-left: $padding-h;
  padding-right: $padding-h;
  text-align: left;
  transition: 0.3s;

  span {
    align-items: center;
    display: flex;
    justify-content: space-between;
  }

  a {
    color: $text-color;
    cursor: pointer;
    text-decoration: none;
  }

  &-selected {
    background-color: $accent-1-color;
    height: inherit;
    left: 0;
    position: absolute;
    width: 7px;
  }
}

.dropdown-children a {
  color: $text-color;
  font-family: $play;
  font-size: 18px;
  padding-left: 50px;
  position: relative;
  text-decoration: none;
}

.close-btn {
  background-color: transparent;
  border: 0;
  color: $primary-1-color;
  cursor: pointer;
  padding: 0;
  padding-top: 7px;
  position: relative;
}

.openbtn {
  background-color: $primary-1-color;
  border: 0;
  color: white;
  cursor: pointer;
  font-size: 20px;
  height: $header-height;
  left: 0;
  padding: 10px 15px;
  position: fixed;
  transition: 0.5s;
}
