@import './global';
// Variables
//=======================================
$side-margins: -10%;
$bottom-margin: 45%;
$top-padding: 7vh;
$bottom-padding: 10vh;
$img-height: 400px;

.slideshow {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: $top-padding 0 $bottom-padding;
  position: relative;

  img {
    height: auto;
    //height: inherit;
    max-width: 70%;
  }
}

.slideshow-left {
  background: none;
  border: 0;
  bottom: $bottom-margin;
  left: $side-margins;
  position: absolute;
  z-index: 1;

  &:hover {
    cursor: pointer;
  }
}

.slideshow-right {
  background: none;
  border: 0;
  bottom: $bottom-margin;
  position: absolute;
  right: $side-margins;
  z-index: 1;

  &:hover {
    cursor: pointer;
  }
}

.indicator {
  margin-top: 5%;
}
